
.hero-section .work-list li {
    width: fit-content;

    display: flex;
    gap: 18px;
    align-items: center;
    flex-wrap: wrap;

    text-align: left;

    padding: 12px 16px;
    border: 1px dashed var(--primary-200);
}

.hero-section .work-list li p {
    font-family: 'dm-sans-regular';
    color: var(--neutral-500);
    font-size: 18px;    
}

.hero-section .skill-list li {
    padding: 12px 16px;

    background-color: var(--neutral-0);
    border: 1.5px solid var(--neutral-white-200);
    border-radius: 99px;

    text-decoration: none;

    font-family: 'dm-sans-regular';
    color: var(--neutral-500);
    font-size: 14px; 
}

.latest-works-section {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.latest-works-section .headline {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.latest-works-section .headline h1 {
    font-family: 'dm-sans-regular';
    color: var(--neutral-700);
    font-size: 20px;
}

.latest-works-section .headline h2 {
    font-family: 'dm-sans-medium';
    color: var(--neutral-600);
    font-size: 14px; 
}

@media only screen and (min-width: 580px) {    
    .hero-section .skill-list li {
        font-size: 16px; 
    }
}


@media only screen and (min-width: 1080px) {

}