.footer {
    margin-top: 150px;
    padding: 10px 16px;

    height: 80px;

    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;

    border-top: 1.5px solid var(--neutral-100);
    background-color: var(--neutral-0);

    font-family: 'dm-sans-regular', sans-serif;
    font-size: 14px;
}

.footer .index {
    color: var(--neutral-600);
}

.footer .copyright {
    color: var(--neutral-300);
}

@media only screen and (min-width: 580px) {
    .footer {
        padding: 0 24px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 1080px) {
    .footer {
        padding: 0 48px;
    }
}