.header {
    padding: 10px 16px;

    height: 80px;

    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    border-bottom: 1.5px solid var(--neutral-100);
    background-color: var(--neutral-0);
}

.header .navigation {
    display: none;
    column-gap: 24px;
    align-items: center;

    font-family: 'dm-sans-regular';
}

.header .navigation a {
    text-decoration: none;
    color: #3D3D3D;
}

.header .navigation a {
    color: var(--neutral-500);
}

.header .navigation a:hover {
    color: var(--primary-700);
}

.header .menu-icon {
    height: 24px;
    width: 24px;
}

.header-email {
    display: flex;
    column-gap: 8px;

    align-items: center;
    text-decoration: none;
    font-family: 'dm-sans-medium', sans-serif;

    padding: 8px 12px;
    border: 1.5px solid var(--neutral-100);
    border-radius: 999px;
}

.header-email p {
    color: #292929;
}

@media only screen and (min-width: 580px) {
    .header {
        padding: 0 24px;
    }

    .header .menu-icon {
        display: none;
    }

    .header .navigation {
        display: flex;
    }
}